{% for room in rooms %}
{% load static %}
<div class="roomListRoom">
  <div class="roomListRoom__header">
    <a href="{% url 'user-profile' room.host.id %}" class="roomListRoom__author">
      <div class="avatar avatar--small">
        {% if room.host.avatar %}
          <img src="{{ room.host.avatar.url }}" />
        {% else %}
          <img src="{% static 'images/avatar.svg' %}" />
        {% endif %}
      </div>
      <span>@{{room.host.username}}</span>
    </a>

    <div class="roomListRoom__actions">
      <span>{{room.created|timesince}} ago</span>
    </div>
  </div>

  <div class="roomListRoom__content">
    <a href="{% url 'room' room.id %}">{{room.name}}</a>
  </div>

  <div class="roomListRoom__meta">

    <!-- Participants -->
    <a href="{% url 'room' room.id %}" class="roomListRoom__joined">
      {{room.participants.all.count}} Joined
    </a>

    <!-- LIKE BUTTON -->
    <div style="display:flex; align-items:center; gap:10px;">

      <form action="{% url 'like-room' room.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" style="background:none; border:none; cursor:pointer; font-size:18px;">
          {% if request.user in room.likes.all %}
            ❤️
          {% else %}
            🤍
          {% endif %}
        </button>
      </form>

      <span>{{ room.likes.count }} Likes</span>

    </div>

    <p class="roomListRoom__topic">{{room.topic.name}}</p>

  </div>
</div>
{% endfor %}
