{% autoescape off %}
Hello,

You're receiving this email because you requested a password reset for your StudyBud account.

Please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.get_username }}

This link will expire in 24 hours.

If you didn't request this password reset, please ignore this email – your password will remain unchanged.

Thanks,
The StudyBud Team

---

If you're having trouble clicking the link above, copy and paste it into your browser.
{% endautoescape %}