{% extends 'main.html' %}
{% block content %}

<div class="auth layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Set New Password</h3>
        </div>
      </div>

      <div class="layout__body">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}

          <button class="btn btn--main" type="submit">
            Reset Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
